.reviewsSection > .container .reviewCard {
  background-color: #fff;
  border: 1px solid #0000001a;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 0 0 100%;
}
.reviewsSection > .container .reviewCard .user {
  display: flex;
  gap: 10px;
}
.reviewsSection > .container .reviewCard .userName {
  font-weight: 700;
}
.reviewsSection > .container .reviewCard .review {
  font-weight: 400;
  color: #00000099;
}

/*< Reviews */
.reviewsSection {
  position: relative;
  width: 100%;
  max-width: var(--max-width);
  margin: var(--margin-auto);
  padding: var(--padding-common);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.slidesTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.arrows {
  display: flex;
  gap: 16px;
}
.arrows .arrowBtn {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
}
.arrows .arrowBtn:hover {
  box-shadow: 0px 4px 8px rgb(255, 255, 255);
  transform: translateY(-2px);
}

.reviewList {
  scroll-behavior: smooth;
  justify-content: center;
  overflow: hidden;
  max-width: 100%;
}
.slides {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  max-width: 100%;
}
.slides::-webkit-scrollbar {
  display: none;
}
.slides .reviewCard:not(.reviewCard:first-child) {
  display: none;
}

/* Reviews >*/
@media (min-width: 540px) {

}
@media (min-width: 768px) {
  .reviewsSection {
    padding: var(--padding-desktop);
  }
  .reviewList {
    display: flex;
    flex-direction: row;
    gap: 10px;
    scroll-behavior: smooth;
    justify-content: center;
  }

  .reviewCard {
    flex: 0 0 calc(50%); /* 3 cards visíveis no desktop */
    max-width: 400px;
  }
  .reviewList .reviewCard:not(.reviewCard:first-child) {
    display: flex;
  }
  .slidesTitle {
    max-width: var(--max-content-width);
  }
}

@media (min-width: 1024px) {
  .reviewCard {
    flex: 0 0 calc(33.33%); /* 3 cards visíveis no desktop */
    width: 400px;
    transition: transform 0.3s ease-in-out;
  }
  .reviewList {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    overflow: hidden;
  }
}
@media (min-width: 1280px) {
  .reviewList {
    width: calc(400px * 6);
    justify-content: initial;
  }
}
