.navigation{
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1240px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  .searchBar,
  .logo-container,
  .navBtns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  .navBtns{
    justify-content: right;
  }
  .logo-container{
    justify-content: left;
  }
  /* Menu toggle */
  .menuIcon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    gap: 5px;
    }
  #menuCheckbox
  {
    display: none;
  }
  
  /* Hamburguer */
  .menuIcon span
  {
    display: block;
    width: 29px;
    height: 2px;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    transition: 0.4s ease-in-out;
    position: relative;
  }


    #menuCheckbox:checked + .menuIcon span:nth-child(1) {
        transform: rotate(45deg);
        top: 7px;
    }
    #menuCheckbox:checked + .menuIcon span:nth-child(2) {
        opacity: 0;
    }
    #menuCheckbox:checked + .menuIcon span:nth-child(3) {
        transform: rotate(-45deg);
        top: -7px;
    }

  .menuMobile
  {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    position: absolute;
    width: 60%;
    height: 100vh;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding-top: 70px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  .menuMobile .links{
    transition-delay: 1.5s;
  }
  .menuMobile .links a{
    color: #000000;
    font-weight: 700;
    font-size: 2rem;
  }
  
  .menuToggle input:checked ~ .menuMobile
  {
    transform: none;
  }
  .navLinks{
    display: none;
  }
  
@media (min-width: 768px) {
    .displayNoneMobile{
        display: none;
    }
    .navLinks{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
    .navigation{
        grid-template-columns: repeat(3, 1fr);
    }
}
  /* header thumb */
  .thumb .container {
    max-width: 1240px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .thumb .infoWrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .thumb .numbers dl {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
  }