header > .container,
body > .container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 16px;
  margin-bottom: 30px;
  justify-content: center;
  display: grid;
  gap: 40px;
}
body > .container {
  margin-top: 50px;
}
/* header thumb */
.thumb .container {
  display: grid;
  justify-content: center;
  align-items: center;
}
.thumb .infoWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.thumb .numbers dl {
  display: flex;
  gap: 55px;
}
/* Working brands */
.workingBrands {
  width: 100%;
  max-height: 146;
  min-height: 122px;

  display: flex;
  /* grid-template-columns: repeat(3, 1fr);  */
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.productList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 16px;
}
/* Our happy customers as reviewSection */
.reviewsSection > .reviewList {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

.footer {
  overflow: visible;
}
/* Newsletter */
.newsletter {
  border-radius: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1441px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  gap: 32px;
}

.newsletter > .inputsContainer {
  /* min-height: 180px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* Footer Layout */
.footerSection {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 16px;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 20px;
}
.footerSection .upperFooter{
    display: grid;
    gap: 25px;
    padding-bottom: 40px;
}
.footerSection > .upperFooter .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerSection > .upperFooter .linksContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
}
.footerSection > .bottomFooter {
  width: 100%;
  min-height: 132px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
@media (min-width: 768px) {
  .workingBrands {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
  }
  .productList {
    grid-template-columns: repeat(3, 1fr);
  }
  .reviewsSection > .reviewList {
    grid-template-columns: repeat(2, 1fr);
  }
  .newsletter {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-evenly;
    padding: 36px 64px;
  }
  .footerSection > .upperFooter .linksContainer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}
@media (min-width: 1024px) {
  .mainContainer {
    padding: 0 32px;
  }
  .thumb .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .productList {
    grid-template-columns: repeat(4, 1fr);
  }
  .bbdStyle > .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    gap: 10px;
  }
  .reviewsSection > .reviewList {
    grid-template-columns: repeat(3, 1fr);
  }

  .newsletter > .title {
    text-wrap: balance;
  }
  .footerSection {
    gap: 0px;
  }
  /* Footer Desktop */
  .footerSection > .upperFooter {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1;
  }
  
  .footerSection > .bottomFooter {
    flex-direction: row;
    justify-content: space-between;
  }
}
