/* header thumb */
.thumb {
  background-color: #f2f0f1;
}
.thumb .container {
  max-width: 1240px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.thumb .infoWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 0 16px;
}

.thumb .numbers dl {
  display: flex;
  /* justify-items: stretch; */
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 27.5px;
  row-gap: 12px;
}

.thumb .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  margin-top: 40px;
}

/* Working brands */
.workingBrands {
  width: 100%;
  max-height: 146px;
  min-height: 122px;
  max-width: 1240px;
  display: flex;
  /* grid-template-columns: repeat(3, 1fr);  */
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.produdctSection{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.productList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 32px 16px;
}
/* Our happy customers as reviewSection */
.reviewsSection > .reviewList {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

@media (min-width: 768px) {
  .thumb .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .thumb .numbers dl {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: stretch;
    column-gap: 27.5px;
  }
  .workingBrands { 
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
  }
  .productList {
    grid-template-columns: repeat(3, 1fr);
  }
  .reviewsSection > .reviewList {
    grid-template-columns: repeat(2, 1fr);
  }
  
}
@media (min-width: 1024px) {
  
  .thumb .infoWrapper{
    gap: 48px;
  }
  .productList {
    grid-template-columns: repeat(4, 1fr);
  }
  .reviewsSection > .reviewList {
    grid-template-columns: repeat(3, 1fr);
  }

}
